@charset "UTF-8";

#kensaku {
    background-color: #CCFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
#favotitle {
    margin-bottom: 50px;
}
.fc-sun {
    color: red;
    background-color: #fff0f0;
}
.fc-sat {
    color: blue;
    background-color: #f0f0ff;
}
#calendarpage {
    /*margin:5% 10% 10% 10%;*/
    transform:scale(0.8,0.8); 
}

.panel-footer{
    text-align:right;
    text-decoration: underline;
}

h1 {
    text-align: center;
}

#search {
    text-align: center;
}
/* navbar 全体の背景色とボーダーカラー */
.navbar-default {
background-color: #e0f6ff;
border-color:　#f8fbf8;
/*background-image: url("/image/navbar1.jpg");*/
}
/* navbar テキストカラー */
.navbar-default .navbar-nav > li > a {
color: #0d2d51;
}
/* navbar hover,focus時のテキストカラー */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: white;
background-color: #79a0e0;
}
/* navbar active設定時のカラー */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
color: #26534c;
background-color: #c3ede7;
}
/* navbar ドロップダウン(親)のカラー */
/*.navbar-default .navbar-nav>.open>a,*/
/*.navbar-default .navbar-nav>.open>a:focus,*/
/*.navbar-default .navbar-nav>.open>a:hover {*/
/*color: #3e6962;*/
/*background-color: #c3ede7;*/
/*}*/
/* navbar ドロップダウン(子)のボックスカラー */
/*.dropdown-menu {*/
/*background-color: #65baad;*/
/*border: 1px solid #3e6962;*/
/*border: 1px solid #3e6962(0, 0, 0, .15);*/
/*-webkit-box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);*/
/*box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);*/
/*}*/
/* navbar ドロップダウン(子)テキストカラー */
/*.dropdown-menu>li>a {*/
/*color: #ffffff;*/
/*}*/
/* navbar ドロップダウン(子)focus,hover時のカラー */
/*.dropdown-menu>li>a:focus,*/
/*.dropdown-menu>li>a:hover {*/
/*color: #26534c;*/
/*background-color: #c3ede7;*/
/*}*/
/* navbar ドロップダウン(子)内の区切り線(class=”divider”)のカラー */
/*.dropdown-menu .divider {*/
/*background-color: #3e6962;*/
/*}*/
/* navbar 画面サイズ767px以下の時のカラー */
/*@media (max-width:767px) {*/
/*.navbar-default .navbar-nav .open .dropdown-menu>li>a {*/
/*color: #ffffff;*/
/*}*/
/*.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,*/
/*.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {*/
/*color: #26534c;*/
/*background-color: transparent;*/
/*}*/
/* ドロップダウンactive設定時のカラー */
/*.navbar-default .navbar-nav .open .dropdown-menu>.active>a,*/
/*.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,*/
/*.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {*/
/*color: #ffb163;*/
/*background-color: #d4ede9;*/
/*}*/
/*}*/

/* navbar ハンバーガー四角枠 */
.navbar-default .navbar-toggle {
border-color: #0d2d51;
}
/* navbar ハンバーガー三本線 */
.navbar-default .navbar-toggle .icon-bar {
background-color: #0d2d51;
}
/* navbar ハンバーガーボタン,タップとホバーした時の背景色 */
/*.navbar-default .navbar-toggle:focus,*/
/*.navbar-default .navbar-toggle:hover {*/
/*background-color: #ffffff;*/
/*}*/
/* navbar ハンバーガーボタン,タップとホバーした時の四角枠 */
/*.navbar-default .navbar-toggle:focus,*/
/*.navbar-default .navbar-toggle:hover {*/
/*border-color: #65baad;*/
/*}*/
/* navbar ハンバーガーボタン,タップとホバーした時の三本線 */
/*.navbar-default .navbar-toggle:focus > .icon-bar,*/
/*.navbar-default .navbar-toggle:hover > .icon-bar {*/
/*background-color: #65baad;*/
/*}*/
/* navbar Brandのカラー */
.navbar-default .navbar-brand {
color: #0d2d51;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
color: #f8fbf85;
background-color: transparent;

}

.table-wrapper-scroll-y {
  display: block;
  max-height: 600px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.modoruyo {
    
    padding-left: 35px;
    
}

.firsttime {
    
    padding-left: 70px;
    
}

.howtouse {
    
    padding-left: 70px;
    
}

.modal-header {
    
    background: #e0f6ff;
    
}

.modal-footer {
    
    background: #e0f6ff;
    
}


