@charset "UTF-8";


#kensaku {
    background-color: #CCFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#favotitle {
    margin-bottom: 50px;
}
.fc-sun {
    color: red;
    background-color: #fff0f0;
}
.fc-sat {
    color: blue;
    background-color: #f0f0ff;
}
#calendarpage {
    margin:5% 10% 10% 10%;
}

.panel-footer{
    text-align:right;
    text-decoration: underline;
}
img { 
    max-width: 100%; 
    height:auto;
}


h1 {
    text-align: center;
}

#search {
    text-align: center;
}