@charset "UTF-8";


#kensaku {
    background-color: #CCFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#favotitle {
    margin-bottom: 49px;
}
.fc-sun {
    color: red;
    background-color: #fff0f0;
}
.fc-sat {
    color: blue;
    background-color: #f0f0ff;
}
#calendarpage {
    margin:5% 10% 10% 10%;
}

.grade {
background: -moz-linear-gradient(left,#afeeee, #f0f8ff 50%, #afeeee);
background: -webkit-linear-gradient(left, #afeeee, #f0f8ff 50%, #afeeee);
background: linear-gradient(to right, #afeeee, #f0f8ff 50%, #afeeee);
}